/target/
/.DS_Store
/.VSCodeCounter/
/satpy/
/deps/

**/.DS_Store
*.pdf
*.trace
/.claude
/.idea
/.antigravitycli/
/local_data
/.cargo
/pyspectral_atm_correction_luts_marine_clean_aerosol/
/tools/tcr-inspector/
